<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container-navbar d-flex justify-content-between align-items-center p-3 bg-light shadow-sm">
      <h3>Movie List</h3>
      <%= link_to "Homepage", lists_path, :class=>"btn btn-warning" %>
    </div>
    <%= yield %>
  </body>
</html>
